@model Telephone.Models.ProductOfCompany

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Delete Product</h2>
                        <p>Home <span>-</span> Delete</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






@using (Html.BeginForm())
{
    <section class="checkout_area padding_top">
        <div class="container">
            <div class="returning_customer">
                <p>
                    <h4>Are you sure you want to delete this product?</h4>
                </p>
            </div>

            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Id_Of_Product) :  @Html.DisplayFor(model => model.Id_Of_Product)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.brand) : @Html.DisplayFor(model => model.brand)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.model) :@Html.DisplayFor(model => model.model)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.GPRS) : @Html.DisplayFor(model => model.GPRS)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.availabality) :@Html.DisplayFor(model => model.availabality)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.weight_g) :  @Html.DisplayFor(model => model.weight_g)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.SIM) :  @Html.DisplayFor(model => model.SIM)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.display_type) :  @Html.DisplayFor(model => model.display_type)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.display_resolution) :  @Html.DisplayFor(model => model.display_resolution)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.OS) :   @Html.DisplayFor(model => model.OS)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.CPU) :  @Html.DisplayFor(model => model.CPU)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.GPU) : @Html.DisplayFor(model => model.GPU)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.internal_memory) :  @Html.DisplayFor(model => model.internal_memory)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.RAM) :   @Html.DisplayFor(model => model.RAM)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.primary_camera) :  @Html.DisplayFor(model => model.primary_camera)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.secondary_camera) :  @Html.DisplayFor(model => model.secondary_camera)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.sensors) : @Html.DisplayFor(model => model.sensors)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.battery) : @Html.DisplayFor(model => model.battery)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.colors) : @Html.DisplayFor(model => model.colors)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.approx_price_EGP) :@Html.DisplayFor(model => model.approx_price_EGP)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.img) :@Html.DisplayFor(model => model.img)
                </dt>


            </dl>
        </div>
        <form>
            <div class="form-actions no-color">
                <center> <input type="submit" value="Delete" class="btn_3" /></center>
            </div>
        </form>
    </section>
}



