@model Telephone.Models.Customer

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>New to our Shop?</h2>
                        <p>
                            In our website ,There are new kinds of Mobilephones  and  Accessories <br>
                            If you have  not account , you will create it to buy any product from our website
                        </p>
                        <a class="btn_3" href= "/Customer/Register/Register">Create a New Account</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>
                            Welcome  <br>
                            Please Login now
                        </h3>
                        <form class="row contact_form" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group p_star">
                                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Remember me</label>
                                </div>
                                <button type="submit" value="submit" class="btn_3">
                                    Login
                                </button>
                                <a class="lost_pass" href="#">forget password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

